<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-cars.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Список автомобилей</title>
</head>
<body>
    <form th:action="@{/admin/cars/setfilter}" method="post" class="filter-form">
        <h3>
            Поиск по:
        </h3>
        <label for="filter-name" class="filter-label">По имени: </label>
        <input type="text" class="filter-text" id="filter-name" name="name" value="">
        <label for="id" class="filter-label">По ID: </label>
        <input type="text" class="filter-text" id="id" name="id" value="">
        <span>
            Показывать на странице
        </span>
        <select name="size">
            <option th:selected="${filter.size} == 10" value="10">10</option>
            <option th:selected="${filter.size} == 25" value="25">25</option>
            <option th:selected="${filter.size} == 50" value="50">50</option>
        </select>
        <button type="submit" class="regular-button">Поиск</button>
    </form>
    <a class="upper-button" th:href="@{/admin}">
        <button class="regular-button">
            Назад
        </button>
    </a>
    <a class="upper-button" th:href="@{/admin/cars/add}">
        <button class="regular-button">
            Добавить
        </button>
    </a>
    <h2>Доступные автомобили</h2>
    <div class="cars-holder">
        <div th:each="car : ${cars}" class="car-entry" th:id="${car.id}">
            <div class="entry-elem">
                <div class="number" th:text="${car.id}"></div>
            </div>
            <div class="entry-elem">
                <textarea th:id="${car.id} + '-name'" class="name-text" rows="1" cols="30" th:text="${car.name}">***</textarea>
                <img th:src="@{'/image/by-id/' + ${car.photos[0].id}}" th:id="${car.id} + '-image'" class="entry-image" alt="car image">
                <label class="change-image-label" th:for="'change-image-' + ${car.id}">Изменить</label>
                <input type="file" multiple th:id="'change-image-' + ${car.id}" th:attr="car-id=${car.id}" class="change-image">
            </div>
            <div class="entry-elem">
                <div class="entry-price-elem">
                    <label th:for="${car.id} + '-price'">Цена</label>
                    <textarea th:id="${car.id} + '-price'" rows="1" cols="6" th:text="${car.price}">***</textarea><span>₽</span>
                </div>
                <div class="entry-price-elem">
                    <label th:for="${car.id} + '-rental-period'">Мин. срок аренды (дней)</label>
                    <textarea th:id="${car.id} + '-rental-period'" rows="1" cols="6" th:text="${car.rentalPeriod}">*</textarea>
                </div>
                <div class="entry-price-elem">
                    <label th:for="${car.id} + '-pay-frequency'">Платежи раз в</label>
                    <textarea th:id="${car.id} + '-pay-frequency'" rows="1" cols="6" th:text="${car.payFrequency}">*</textarea><span>день</span>
                </div>
            </div>
            <div class="entry-elem">
                <select th:id="${car.id} + '-gearbox'" class="entry-select">
                    <option th:each="gearbox : ${T(com.javatemplates.taxicompany.models.carmodel.Gearbox).values()}"
                            th:text="${gearbox.type}" th:selected="${car.gearbox} == ${gearbox}"
                            th:value="${gearbox}">
                        ***
                    </option>
                </select>
            </div>
            <div class="entry-elem">
                <select th:id="${car.id} + '-engine'" class="entry-select">
                    <option th:each="engine : ${T(com.javatemplates.taxicompany.models.carmodel.Engine).values()}"
                    th:text="${engine.type}" th:selected="${car.engine} == ${engine}"
                    th:value="${engine}">
                        ***
                    </option>
                </select>
            </div>
            <div class="entry-elem">
                <div class="rates-holder">
                    <div th:each="rate : ${T(com.javatemplates.taxicompany.models.carmodel.Rate).values()}">
                        <input type="checkbox" th:checked="${#lists.contains(car.rates, rate)}" th:value="${rate}" th:class="'rate-checkbox-'+${car.id}" th:id="${car.id} + '-' + ${rateStat.index} + '-rate'">
                        <label th:for="${car.id} + '-' + ${rateStat.index} + '-rate'" class="entry-text" th:text="${rate.rate}">***</label>
                    </div>
                </div>
            </div>
            <div class="entry-elem">
                <ul th:id="${car.id} + '-addons'" class="addons">
                    <li th:each="addon : ${car.addons}"><span th:class="'addon-text-' + ${car.id}" th:text="${addon}"></span><button th:attr="car-id=${car.id}" class="change-list remove">-</button></li>
                </ul>
                <div class="addon-button-holder">
                    <textarea th:id="${car.id} + '-addon-text'" rows="1" cols="10"></textarea><button th:attr="car-id=${car.id}" class="add change-list">+</button>
                </div>
            </div>
            <div class="entry-elem">
                <div class="control-buttons-holder">
                    <button class="regular-button control-button update-car" th:attr="car-id=${car.id}">Обновить</button>
                    <div class="error-message">Данные указаны не верно!</div>
                    <button class="regular-button control-button delete-car" th:attr="car-id=${car.id}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nothing-found-message" th:if="${#lists.isEmpty(cars)}">
        Ничего не найдено
    </div>
    <div th:if="!${#lists.isEmpty(cars)}" class="buttons-holder">
        <a th:if="!${first}" th:href="@{/admin/cars(page=${page} - 1)}">
            <button class="regular-button page-button">
                Предыдущая
            </button>
        </a>
        <a th:if="!${last}" th:href="@{/admin/cars(page=${page} + 1)}">
            <button class="regular-button page-button">
                Следующая
            </button>
        </a>
    </div>
<script th:src="@{/js/cars-admin.js}">
</script>
</body>
</html>