<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cars.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>
  <header th:include="header :: header"></header>
  <main>
      <form class="filter-parameters" th:action="@{/cars/all/setfilter}" method="post" th:object="${filter}">
          <fieldset>
              <legend>Тарифы</legend>
              <div th:each="rate : ${T(com.javatemplates.taxicompany.models.carmodel.Rate).values()}">
                  <input type="checkbox" th:field="*{rates}"  th:value="${rate}">
                  <label th:for="${#ids.prev('rates')}" th:text="${rate.rate}">***</label>
              </div>
          </fieldset>
          <fieldset>
              <legend>Тип двигателя</legend>
              <div th:each="engine : ${T(com.javatemplates.taxicompany.models.carmodel.Engine).values()}">
                  <input type="checkbox" th:field="*{engines}" th:value="${engine}">
                  <label th:for="${#ids.prev('engines')}" th:text="${engine.type}">***</label>
              </div>
          </fieldset>
          <fieldset>
              <legend>Тип КПП</legend>
              <div th:each="gearbox : ${T(com.javatemplates.taxicompany.models.carmodel.Gearbox).values()}">
                  <input type="checkbox" th:field="*{gearboxes}" th:value="${gearbox}">
                  <label th:for="${#ids.prev('gearboxes')}" th:text="${gearbox.type}">***</label>
              </div>
          </fieldset>
          <span class="filter-text">Марка</span><br>
          <select name="company" th:field="*{company}">
              <option value="any" selected>Любая</option>
              <option th:each="company : *{availableCompanies}" th:text="${company}" th:value="${company}"></option>
          </select>
          <span class="filter-text">Сортировать по:</span>
          <select name="sort" th:field="*{sort}">
              <option value="default">По умолчанию</option>
              <option value="price">Цене</option>
              <option value="rental-period-desc">Срок аренды (по возр.)</option>
              <option value="rental-period-asc">Срок аренды (по убыв.)</option>
          </select>
          <span class="filter-text">Показывать на странице: </span>
          <select name="show" th:field="*{showMax}">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
          </select>
          <input type="submit" class="filter-button" value="Применить">
      </form>
      <article th:if="!${#lists.isEmpty(cars)}" class="content">
          <div th:each="car : ${cars}" class="car" th:classappend="(${car.id} == ${scrollTo})?'scroll-to':''">
              <a class="img-link"><img th:src="@{'/image/'+ ${car.photos[0].id}}" class="car-image"></a>
              <div class="car-info">
                  <div class="car-name" th:text="${car.name}">***</div>
                  <img th:src="@{/img/gearbox.png}" width="26" height="20" alt="Тип КПП: " class="char-image">
                  <span class="characteristics" th:text="${car.gearbox.type}">***</span>
                  <img th:src="@{/img/fuel.png}" width="18" height="20" alt="Двигатель: " class="char-image">
                  <span class="characteristics" th:text="${car.engine.type}">Бензин</span><br>
                  <div class="addon-info">
                      <div class="rates-holder">
                          <div class="addon">Тарифы:</div>
                          <ul class="addon-list">
                              <li th:each="rate : ${car.rates}" th:text="${rate.rate}">***</li>
                          </ul>
                      </div>
                      <div class="addons-holder">
                          <div class="addon">Дополнительно</div>
                          <ul class="addon-list">
                              <li th:each="addon : ${car.addons}" th:text="${addon}">***</li>
                          </ul>
                      </div>
                  </div>
                  <div class="price-info" th:if="${car.payFrequency} != null" th:text="'Выплаты раз в ' + ${car.payFrequency} + ' ' + ${T(com.javatemplates.taxicompany.models.carmodel.StringDay).getDesc(car.payFrequency)}">***</div>
                  <div class="price-info" th:if="${car.rentalPeriod} != null" th:text="'Мин. срок аренды - ' + ${car.rentalPeriod} + ' ' + ${T(com.javatemplates.taxicompany.models.carmodel.StringDay).getDesc(car.rentalPeriod)}">***</div>
                  <form th:action="@{'/contact/car/' + ${car.id}}" method="post">
                      <button type="submit" class="contact-button">
                          Связаться
                      </button>
                  </form>
              </div>
              <div class="car-price">
                  <div class="price" th:text="${car.price} + '₽/день'"></div>
              </div>
          </div>
      </article>
      <div th:if="${#lists.isEmpty(cars)}" class="list-empty-message">
          Ничего не найдено.
      </div>
      <script>
            const scroll_to = document.querySelector(".scroll-to");
            if(scroll_to != null) scroll_to.scrollIntoView();
      </script>
  </main>
  <div th:if="!${#lists.isEmpty(cars)}" class="buttons-holder">
      <a th:if="!${first}" th:href="@{/cars/all(page=${page} - 1)}">
          <button class="page-button">
              Предыдущая
          </button>
      </a>
      <a th:if="!${last}" th:href="@{/cars/all(page=${page} + 1)}">
          <button class="page-button">
              Следующая
          </button>
      </a>
  </div>
  <footer th:include="footer :: footer"></footer>
</body>
</html>