<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
  <footer th:fragment="footer">
    <div class="contacts">
      <span class="footer-text">Наша почта: </span>
      <a href="mailto:example@example.ru" class="footer-link">example@example.ru</a>
      <span class="footer-text">Телефон для связи: </span>
      <a href="tel:+79450010101" class="footer-link">+79450010101</a>
    </div>
    <span class="copy-text">taxi rent, 2023</span>
  </footer>
</body>
</html>