<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/regin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form-general.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Зарегистрироваться</title>
</head>
<body>

<div class="user-form">
    <div class="logo-text">taxi rent</div>
    <div class="form-header-line" id="row1"></div>
    <div class="form-header-line" id="row2"></div>
    <div class="form-header-text">Регистрация</div>
    <div class="form-error" th:if="${alreadyExists}">Пользователь с таким номером телефона уже существует</div>
    <div class="form-error" th:if="${wrongPassword}">Длина пароля - от 6 до 20 символов. Пароль должен содержать специальные символы, заглавные и строчные буквы, а также цифры</div>
    <div class="form-error" th:if="${wrongEmail}">Введите действительный адрес электронной почты</div>
    <div class="form-error" th:if="${wrongPhoneNumber}">Укажите существующий номер телефона</div>
    <form th:action="@{/register}" th:object="${reginForm}" method="post" class="form-holder">
        <input type="text" class="text-field" id="name" th:field="*{name}" required>
        <label for="name" class="text-label">Имя</label>
        <input type="text" class="text-field" th:field="*{phoneNumber}" id="phoneNumber" required>
        <label for="phoneNumber" class="text-label">Телефон</label>
        <input type="text" class="text-field" th:field="*{email}" id="email">
        <label for="email" class="text-label">Эл. почта</label>
        <input type="text" class="text-field" th:field="*{password}" id="password" required>
        <label for="password" class="text-label">Пароль</label>
        <button type="submit" class="form-submit">Зарегистрироваться</button>
    </form>
</div>
<span>Уже усть аккаунт? <a th:href="@{/login}">Войти</a></span>
</body>
</html>